body {
    font-family: "Kanit", sans-serif;
    /* background-color: rgb(243, 214, 214); */
    background: linear-gradient(90deg, rgba(167, 163, 245, 1) 0%, rgba(208, 143, 85, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.font-effect-neon {
    text-shadow: 0 0 0.3em #26da47, 0 0 0.1em #fff;
    text-align: center;
}


#myForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#description {
    margin-right: 10px;
}

#priority {
    margin-right: 10px;
}

.submit-btn {
    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
    background: wheat;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
}

.submit-btn:hover {
    transform: scale(1.1);
}

.priority-desc {
    color: red;
    text-decoration: underline;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
}

.task-items {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    width: 600%;
}

.delete-btn {
    display: flex;
    align-items: center;
    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
    background: wheat;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
}
.delete-btn:hover {
    transform: scale(1.1);
}

.task-list {
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.task-name:hover {
    background-color: white;
}

.priority-num {
    color: red;
}

.priority-num:hover {
    background-color: white;
}